* {
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100svh;
}

.content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10svh;
}

.content {
  display: flex;
  flex-direction: column;
}

.content.search {
  flex: 1;
  justify-content: end;
}

.content.search input {
  border-radius: 3px;
  padding: 3px 5px;
}

.results-container ul {
  list-style: none;
  padding: 5px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}

.results-container ul li {
  cursor: pointer;
  padding: 0 4px;
  border-radius: 3px;
}

.results-container ul li:hover {
  background-color: lightgray;
}

.results-container hr {
  margin: 4px 0;
}

.content.forecast {
  flex: 3;
  align-items: center;
}

.loader {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #9c41f2;
  border-radius: 100%;
  display: none;
  animation: spin 1s infinite linear;
}

.forecast-cards {
  display: grid;
  grid-template-columns: 0.7fr 1.1fr 0.7fr;
  grid-template-rows: 0.2fr 1fr;
  grid-template-areas:
    '. mid .'
    'left mid right';
  gap: 32px;
}

#leftCard {
  grid-area: left;
}

#midCard {
  grid-area: mid;
}
#rightCard {
  grid-area: right;
}

.forecast-card {
  width: 250px;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 20px 8px;
}

.main-forecast-card {
  border: 3px solid gray;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
