* {
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100svh;
}

.content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10svh;
}

.content {
  display: flex;
  flex-direction: column;
}

.content.search {
  flex: 1;
  justify-content: end;
}

.results-container ul {
  list-style: none;
  padding: 5px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 3px;
}

.results-container ul li {
  border-bottom: 1px solid grey;
  padding-bottom: 8px;
}

.results-container ul li:first-child {
  padding-top: 8px;
}

.results-container ul li:last-child {
  border-bottom: none;
}

.results-container ul li:hover {
  opacity: 0.8;
}

.content.forecast {
  flex: 3;
  align-items: center;
}

.loader {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #9c41f2;
  border-radius: 100%;
  display: none;
  animation: spin 1s infinite linear;
}

.forecast-cards {
  display: flex;
  gap: 32px;
}

.forecast-card {
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
